/* Default table styling */

.table,
.table::before,
.table::after {
  all: unset;
  box-sizing: border-box;
  /* margin: 20px 0px; */
  padding: 0;
}
.table {
  width: 90%;
  height: 200px;
  /* border-collapse: collapse; */
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto !important;
  text-align: left;
  /* overflow-y: scroll !important; */
  /* box-shadow: 0 1px 5px rgba(128, 128, 128, 0.5); */
}
.table thead {
  /* box-shadow: 0 1px 5px rgba(128, 128, 128, 0.5); */
  color: #304068;
  /* background-color: red; */
}
.table th {
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
.table td {
  padding: 1rem 2rem;
  color: #5c6e9b;
  border-collapse: collapse;
}
.table tbody tr:hover{
    background-color: #EAEDF5;
    cursor: pointer;
}

