/* Default table styling */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Colors */
:root {
  --primary: #304068;
  /* --btn-assign:  */
}

.table,
.table::before,
.table::after {
  box-sizing: border-box;
  padding: 0;
}
.table {
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  width: 90%;
  
  /* height: 100px; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll !important; */
  /* box-shadow: 0 1px 5px rgba(128, 128, 128, 0.5); */
}
.table thead {
  /* box-shadow: 0 1px 5px rgba(128, 128, 128, 0.5); */
  color: #304068;
  /* background-color: red; */
}
.table th {
  padding: 5px 15px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #d4daeb;
}
.table td {
  padding: 5px 15px;
  color: #5c6e9b;
  max-height: 10px;
  white-space: normal;
}
.table tbody tr:nth-child(even) {
  background-color: #eaedf5;
}
.table tbody tr:hover {
  /* background-color: #eaedf5; */
  cursor: pointer;
}

/* Buttons */

.btn {
  /* border: 1px solid red !important; */
  padding: 5px 15px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: transparent;
  border-radius: 12px;
  font-weight: 500;
  display: inline-block;
}
.btn-assign {
  background-color: var(--primary);
  color: white;
}

/* Headings */
.section-heading {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
}

/* Sections */
.overviewLayout {
  height: 82vh;
  overflow-y: hidden;
  padding: 20px;
  background-color: #f1f4ff;
}

.contentSection {
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  height: 95%;
  padding: 20px;
}
